<ion-header [attr.theme]="theme">
  <ion-toolbar class="menu-toolbar" color="template-{{theme}}">
    <ion-buttons slot="start">
      <ion-button (click)="app.toggleMenu()">
        <ion-icon name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title slot="end">
      {{app.currentPage}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [attr.theme]="theme">
  <div *ngIf="picture != null">
    <ion-title>
      Image:
    </ion-title>

    <img [src]="picture">
  </div>

  <ion-list>
    <ion-button (click)="takePicture()">
      <ion-icon name="add-circle-outline"></ion-icon>
      takePicture
    </ion-button>

    <ion-button (click)="takeSnapshot()">
      <ion-icon name="add-circle-outline"></ion-icon>
      takeSnapshot
    </ion-button>

    <ion-button (click)="switchCamera()">
      <ion-icon name="add-circle-outline"></ion-icon>
      switchCamera
    </ion-button>

    <ion-button>
      <ion-icon name="add-circle-outline"></ion-icon>
      Add
    </ion-button>
  </ion-list>
</ion-content>
